
<div *ngIf="profile" class="row profile">
  <div class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
      <img [src]="profile.avatar_url" [alt]="profile.login" class="profile-image card-img-top">
      <div class="card-body">
        <h5 class="card-title text-black">{{profile.name | uppercase}}</h5>
        <p class="card-text mb-0 text-muted">{{profile.login}}</p>
        <p *ngIf="profile.email"  class="card-text mb-0 text-muted"><fa-icon [icon]="faEnvelope"></fa-icon> {{profile.email}}</p>
        <p *ngIf="profile.company" class="card-text mb-0 text-muted"><fa-icon [icon]="faBuilding"></fa-icon> {{profile.company}}</p>
        <p *ngIf="profile.location" class="card-text mb-0 text-muted"><fa-icon [icon]="faMapMarkerAlt"></fa-icon> {{profile.location}}</p>
        <p *ngIf="profile.followers === 0"  class="card-text mb-0 text-muted"><fa-icon [icon]="faUsers"></fa-icon> {{profile.followers}}</p>
        <p *ngIf="profile.bio" >{{profile.bio}}</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8">
    <app-profile-repos [profile]="profile"></app-profile-repos>
  </div>
</div>

